.hud.fps {
	font-family: monospace;
	white-space: pre;
	position:fixed;
	top:0px;
	right:0px;
	/*background-color: rgba(255,255,255,0.5);*/
	background-color: rgba(0,0,0,0.666);
	text-shadow: 1px 1px 0px black;
	color: lime;
}

.reticle {
	position:fixed;
	top:calc(50% - 1px);
	left:calc(50% - 1px);
	height:3px;
	width:3px;
	/*background-color: rgba(0,255,255,1);*/
}

html {
	user-select: none;
}