div.controller {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translateX(-50%);

	background-color: rgba(255,255,255,0.75);

	user-select: none;

	box-shadow: 0px 5px 5px rgba(0,0,0,0.75);
	border-radius: 5px;

	font-family: monospace;
	font-size: 16px;
}

div.controller div.buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

div.controller div.joystick {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 5px;

	overflow: hidden;

	margin: 0.5em;
	margin-right: 0em;
}

div.controller div.joystick div.pad {
	width: 33px;
	height: 33px;
	background-color: red;
	border-radius: 50%;
}

div.controller div.button {
	user-select: none;
	-webkit-user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33px;
	height: 33px;
	background-color: black;
	border-radius: 50%;

	color: white;

	margin: 1.5em;
}

div.controller div.button:not(:last-child) {
	margin-right: 0em;
}

div.controller div.button:active {
	background-color: red;
}

@media screen and (max-width: 800px) {
	div.controller {
		width: 100%;
		bottom: 5rem;
		justify-content: space-between;
		background-color: rgba(255,255,255,0.5);
		padding: 32px;
	}

	div.controller div.joystick {
		width: 250px;
		height: 250px;
		border-radius: 15px;
		margin-left: 64px;
	}

	div.controller div.joystick div.pad {
		width: 50px;
		height: 50px;
	}

	div.controller div.buttons {
		margin-right: 32px;
	}

	div.controller div.button {
		width: 110px;
		height: 110px;
		font-size: 32px;
		margin: 1.5em;
	}

	div.controller div.buttons div.button:first-child {
		transform: translateY(32px);
	}

	div.controller div.buttons div.button:last-child {
		transform: translateY(-32px);
	}
}